html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Inicio del codigo */

body {
    font-family: sans-serif;
    
    background-color: #fbfbfb;
}

/* INICIO ESTILOS BENEFITS */

.benefits{
	display: flex;
	flex-direction: column;

	
}

.titulos-benefits{
	margin-left: 50px;
	margin-top: 50px;
	font-family: sans-serif;
}

.benefits h3{
	font-family: sans-serif;
	font-weight: 400;
	font-size: small;
	
}

.benefits h1 {
	margin-top: 20px ;
	font-weight: 800;
	font-size: 25px;

}

.container-benefits{
	display: flex;
	margin-top: 80px;
	flex-direction: row;
	margin-left: ;
	margin-right: 60px;
	justify-content: space-around;

	
}

.benefit1{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.benefit1 img{
	height: 120px;
	width: 140px;
}

.benefit1 h2 {
	font-weight: 600;
	margin-top: 15px;
}

.benefit1 p{

	margin-top: 15px;
	font-size: small;

}

.benefit2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.benefit2 img{
	height: 120px;
	width: 140px;
}

.benefit2 h2 {
	font-weight: 600;
	margin-top: 15px;
}

.benefit2 p{

	margin-top: 15px;
	font-size: small;

}

.benefit3{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.benefit3 img{
	height: 120px;
	width: 140px;
}

.benefit3 h2 {
	font-weight: 600;
	margin-top: 15px;
}

.benefit3 p{

	margin-top: 15px;
	font-size: small;

}

.benefit4{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.benefit4 img{
	height: 120px;
	width: 140px;
}
.benefit4 h2 {
	font-weight: 600;
	margin-top: 15px;
}
.benefit4 p{

	margin-top: 15px;
	font-size: small;

}